<!--
This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Ionic">
  <ion-content padding="true">
    <!-- about info card -->
    <div class="list card">

      <!-- title & image -->
      <div class="item item-avatar">
        <img src="img/count_logo.jpg" alt="logo" />
        <h2>Calorie Counter</h2>
        <p>What we can do for you!</p>
      </div>

      <!-- logo & info -->
      <div class="item item-body">
        <img class="full-image" src="img/count_logo.jpg" alt="logo" />
        <p>
            Calories are defined as little creatures that live in your wardrobe
            and sew your clothes tighter every night! They need food calories to
            have the energy to do all of this damage and food calories are the
            amount of energy needed to raise the temperature of one kilogram of
            water by one degree Celsius. The large calorie is thus equal to 1000
            small calories or one kilocalorie.
        </p>
      </div>

      <!-- social media icons -->
      <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i> Like
          </a>
          <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i> Comment
          </a>
          <a class="tab-item" href="#">
              <i class="icon ion-share"></i> Share
          </a>
      </div>
    </div><!-- end card -->
  </ion-content>
</ion-view>