<!--
    This template loads list for the 'tab.contact' state (app.js)
-->
<ion-view title="Contact">
  <ion-content padding="true" overflow-scroll="true" class="has-header">
    
      <div class="list">
          <a class="item item-icon-left" href="mailto:homer@example.com">
              <i class="icon ion-email"></i> Email
          </a>

          <a class="item item-icon-left" href="tel:2125551212">
              <i class="icon ion-android-call"></i> Call
          </a>

          <a class="item item-icon-left" href="skype:echo-chinese?call">
              <i class="icon ion-android-microphone"></i> Skype
          </a>

          <a class="item item-icon-left" href="http://github.com">
              <i class="icon ion-social-github"></i> Find Me
          </a>

          <a class="item item-icon-left" href="http://twitter.com">
              <i class="icon ion-social-twitter"></i> Tweet
          </a>

          <a class="item item-icon-left" href="http://facebook.com">
              <i class="icon ion-social-facebook"></i> Facebook
          </a>

          <a class="item item-icon-left" href="http://linkedin.com">
              <i class="icon ion-social-linkedin-outline"></i> Connect
          </a>
      </div><!-- end list -->
  </ion-content>
</ion-view>