<!--
  This template loads for the 'tab.menu-detail' state (app.js)
  'menu' is a $scope variable created in the menuCtrl controller (controllers.js)
  The menuCtrl pulls data from the menus service (service.js)
  The menus service returns an array of menu data
-->
<ion-view title="{{menu.title}}">
    <div class="bar bar-subheader">
        <h2 class="title"></h2>
    </div>

    <ion-content padding="true" overflow-scroll="true" class="has-header">

        <div id="myCalories">
            <input type="number" ng-model="count" placeholder="0" />
        </div>
       
        <div id="mySearchText">
          <input type="search" placeholder="Search eg. {{ menu.description }}" ng-model="search">
        </div>
        
        <div class="list">
            <!-- 
                This is a test expression 
                <p>{{ menu.description }}</p>
            -->

            <!-- 
                This displays original list in list format 
                from services.js in {{ expression format }}
            -->

            <a class="item list-inset item-thumbnail-left" ng-repeat="menu in menus | filter:search">

                <a class="item list-inset item-thumbnail-left item item-button-right">
                    <img ng-src=" {{ menu.imgsrc1 }} ">
                    <h2>{{ menu.foodItem1 }}</h2>
                    <button class="button button-positive" ng-click="count = count + {{ menu.calories1 }} "> {{ menu.calories1 }} </button>
                </a>
                
                <a class="item list-inset item-thumbnail-left item item-button-right">
                    <img ng-src=" {{ menu.imgsrc2 }} ">
                    <h2>{{ menu.foodItem2 }}</h2>
                    <button class="button button-positive" ng-click="count = count + {{ menu.calories2 }} "> {{ menu.calories2 }} </button>
                </a>
                
                <a class="item list-inset item-thumbnail-left item item-button-right">
                    <img ng-src=" {{ menu.imgsrc3 }} ">
                    <h2>{{ menu.foodItem3 }}</h2>
                    <button class="button button-positive" ng-click="count = count + {{ menu.calories3 }} "> {{ menu.calories3 }} </button>
                </a>
                
                

                <p><a class="button button-energized button-block icon ion-arrow-left-b" href="#/tab/menus">&nbsp;Back to Menu</a>
                </p>
                <p><a class="button icon ion-settings button-block" ng-click="count = 0">&nbsp;Reset</a>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>

<!--
<a class="item item-icon-left item-button-right">
    <i class="icon ion-ios-nutrition"></i>
    <h2>Potatoes</h2>
    <p>Calories per 100g</p>

    <button class="button button-positive" ng-click="count = count + 20"> +20 </button>
</a>
-->