<!--
  This template loads for the 'state2' state (app.js)
  
  index.html; <script type="text/ng-template" id="state3.html"></script>
-->

<ion-view view-title="Three">
  <div class="bar bar-subheader">
    <h2 class="title">I am state 3!</h2>
  </div>
  <ion-content>
    <h2>I am state 3!</h2>
    <p><center>CounterCals here!</center></p>
    
    <div class="list list-inset">
      <label class="item item-input">
          <input type="number" ng-model="count" />
      </label>
      
      <button class="button button-block button-energized" ng-click="count = count + 1">
        Add
      </button>
      
      <button class="button button-block button-energized" ng-click="count = count - 1">
        Subtract
      </button>

      <button class="button button-block button-energized" ng-click="count = 0">
        Reset
      </button>
    </div>
    
  </ion-content>
</ion-view>