<!--
  This template loads for the 'state2' state (app.js)
  
  index.html; <script type="text/ng-template" id="state2.html"></script>
-->

<ion-view view-title="Two">
  <div class="bar bar-subheader">
    <h2 class="title">I am state 2!</h2>
  </div>
  
  <ion-content>
    <div class="list list-inset">
    
      <a class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-pizza"></i>
        <h2>9" Pizza</h2>
        <p>Calories per slice</p>
        
        <button class="button button-positive">
          +250
        </button>
      </a>
      
      <a class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-pizza"></i>
        <h2>12" Pizza</h2>
        <p>Calories per slice</p>
        
        <button class="button button-positive">
          +350
        </button>
      </a>
      
      <a class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-pizza"></i>
        <h2>15" Pizza</h2>
        <p>Calories per slice</p>
        
        <button class="button button-positive">
          +450
        </button>
      </a>
      
      <a class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-ios-nutrition"></i>
        <h2>Carrots</h2>
        <p>Calories per 100g</p>
       
        <button class="button button-positive">
          +50
        </button>
      </a>
      
      <a class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-ios-nutrition"></i>
        <h2>Parsnips</h2>
        <p>Calories per 100g</p>
       
        <button class="button button-positive">
          +20
        </button>
      </a>
      
      <a class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-ios-nutrition"></i>
        <h2>Yams</h2>
        <p>Calories per 100g</p>
       
        <button class="button button-positive">
          +50
        </button>
      </a>
      
      <a class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-ios-nutrition"></i>
        <h2>Potatoes</h2>
        <p>Calories per 100g</p>
       
        <button class="button button-positive">
          +20
        </button>
      </a>
      
      <button class="button icon-right ion-chevron-right button-full button-assertive" ui-sref="state3">
        <!-- <a href="#/state3">Go to state 3.</a> -->
        Go to state 3
      </button>
      
    </div>
    
  </ion-content>
</ion-view>