/* list css */

.list {
    margin-top: 43px;
}

/* input fields at top of calorie counter area */
textarea,
input[type="number"] {
    font-size: 30px;
    text-align: center;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#myCalories {
    height: 44px;
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 99999;
}

#mySearchText {
    height: 25px;
    width: 100%;
    position: fixed;
    top: 88px;
    left: 0px;
    z-index: 99999;
}

textarea,
input[type="search"] {
    height: 25px;
    width: 100%;
    padding-left: 10px
}

/* text beside calorie buttons */
.item p {
    white-space: normal !important;
}

/* plus minus calorie buttons */
#minus {
    top: 53px;
    background: #EF473A;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    height: 25px;
    line-height: 25px;
    -webkit-transition: bottom 0.1s;
    -moz-transition: bottom 0.1s;
    transition: bottom 0.1s;
}

#plus {
    background: #387EF5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    line-height: 25px;
    -webkit-transition: bottom 0.1s;
    -moz-transition: bottom 0.1s;
    transition: bottom 0.1s;
}

.button.button-icon.round-button {
    border-radius: 50%;
    width: 25px;
    color: #fff;
}